<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <%- include("../includes/aside.ejs") %>

            <!-- Page Content -->
            <div class="page-content">
                <%- include("../../messages/error.ejs") %>
                    <%- include("../includes/breadCrumb.ejs") %>
                        <div class="page-body">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="widget">
                                        <div class="widget-header bordered-bottom bordered-blue">
                                            <span class="widget-caption">ساخت اجازه دسترسی</span>
                                        </div>
                                        <div class="widget-body">
                                            <div>
                                                <form role="form" action="/admin/createPermissions" method="post">
                                                    <div class="form-group">
                                                        <label for="name">نام</label>
                                                        <input type="" class="form-control" id="name"
                                                            placeholder="نام دسته بندی را وارد کنید" name="name"
                                                            value="<%= formData ? formData['name'] : '' %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="label">توضیح</label>
                                                        <input type="" class="form-control" id="label"
                                                            placeholder="نام دسته بندی را وارد کنید" name="label"
                                                            value="<%= formData ? formData['label'] : '' %>">
                                                    </div>

                                            </div>
                                            <button type="submit" class="btn btn-blue">ایجاد سطح دسترسی
                                                جدید</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

<script src="/admin/js/editors/summernote/summernote.js"></script>
<script>
    $('#summernote').summernote({ height: 300 });
</script>