<main class="main">
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container-fluid">
            <h1 class="page-title">لیست محصولات <span>MOLLA</span></h1>
        </div><!-- End .container-fluid -->
    </div><!-- End .page-header -->
    <%- include("../../includes/bread") %>

        <div class="page-content">
            <div class="container-fluid">
                <div class="toolbox">
                    <div class="toolbox-left">
                        <a href="#" class="sidebar-toggler" role="button"><i class="icon-bars"></i>
                            فیلتر</a>
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-center">
                        <div class="toolbox-info">
                            <%= products.length %>محصول ثبت شده
                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-center -->

                    <div class="toolbox-right">
                        <div class="toolbox-sort">
                            <label for="sortby">مرتب سازی بر اساس : </label>
                            <div class="select-custom">
                                <select name="sortby" id="sortby" class="form-control">
                                    <option value="popularity" selected="selected">محبوب ترین ها</option>
                                    <option value="rating">بیشترین فروش</option>
                                    <option value="date">تاریخ</option>
                                </select>
                            </div>
                        </div><!-- End .toolbox-sort -->
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products">
                    <div class="row">
                        <% for (let i of products) {%>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new">
                                            <%= i.view %> مشاهده
                                        </span>
                                        <a href="/product/<%= i.slug %>">
                                            <img src="/uploads/images/products/<%= i.image[0] %>" alt="<%= i.slug %>"
                                                class="product-image">
                                        </a>
                                        <div class="product-action action-icon-top">
                                            <a href="/product/<%= i.slug %>" class="btn-product"
                                                title="مشاهده  محصول"><span>مشاهده سریع</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">
                                                <%= i.title %>
                                            </a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title text-right"><a href="/product/<%= i.slug %>">
                                                <%- truncate(i.desc , 150) %>
                                            </a>
                                        </h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <%= i.price %> تومان
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <%}%>

                    </div><!-- End .row -->

                    <!-- ! paginagte -->
                    <%- include("../includes/paginate") %>
                        <!-- ! paginagte -->
                </div><!-- End .products -->
                <!-- <form action="/productsFilter" method="post"> -->
                <%- include("../includes/suggest.ejs") %>
                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                    <aside class="sidebar-shop sidebar-filter">
                        <div class="sidebar-filter-wrapper">
                            <form action="">
                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                            aria-controls="widget-1">
                                            دسته بندی
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-1">
                                        <div class="widget-body">
                                            <div class="filter-items filter-items-count">
                                                <div class="filter-item">
                                                    <ul>
                                                        <% for (let item of categories) {%>
                                                            <% if (item.category===null) {%>
                                                                <li>
                                                                    <div class="custom-control ">
                                                                        <a href="/products/<%= item.name %>">
                                                                            <span class="">
                                                                                <%= item.name %>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <%}%>
                                                                    <%}%>
                                                    </ul>
                                                    <!-- End .custom-checkbox -->
                                                </div><!-- End .filter-item -->
                                            </div><!-- End .filter-items -->
                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->
                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                            aria-controls="widget-4">
                                            برند
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-4">
                                        <div class="widget-body">
                                            <div class="filter-items">
                                                <ul>
                                                    <% for (let item of brands) {%>
                                                        <li>
                                                            <div class="custom-control ">
                                                                <a href="/productsBrands/<%= item.name %>">
                                                                    <span class="">
                                                                        <%= item.name %>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <%}%>
                                                </ul>
                                            </div><!-- End .filter-items -->
                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->
                            </form>
                        </div><!-- End .sidebar-filter-wrapper -->
                    </aside><!-- End .sidebar-filter -->
                    <!-- </form> -->
            </div><!-- End .container-fluid -->
        </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    function select() {

        var id = $('#My-ID-Input').val();
        console.log(id);
        $.ajax({
            type: 'post',
            url: 'http://localhost:3000/productsFilter',
            data: {
                id: id
            },
            success: function (data) {
                var id = data.id;
                $('#My-ID-Input').val(id);
            },
            error: function (err) {
                console.log(err);
            }

        });
    }
</script>