<main class="main">
    <div class="page-content">
        <div class="product-details-top">
            <div class="bg-light pb-5 mb-4">
                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                    <div class="container d-flex align-items-center">
                        <%- include("../../includes/bread") %>

                            <nav class="product-pager mr-auto" aria-label="Product">
                                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous"
                                    tabindex="-1">
                                    <i class="icon-angle-right"></i>
                                    <span>قبلی</span>
                                </a>

                                <a class="product-pager-link product-pager-next" href="#" aria-label="Next"
                                    tabindex="-1">
                                    <span>بعدی</span>
                                    <i class="icon-angle-left"></i>
                                </a>
                            </nav><!-- End .pager-nav -->
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->
                <div class="container">
                    <div class="product-gallery-carousel owl-carousel owl-full owl-nav-dark">
                        <%for (let i of product.image) {%>
                            <figure class="product-gallery-image">
                                <img src="/uploads/images/products/<%= i %>" id="img_01"
                                    data-zoom-image="/uploads/images/products/<%= i %>" alt="تصویر محصول">
                            </figure><!-- End .product-gallery-image -->
                            <%}%>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pb-5 -->
            <div class="" id="card__item">
                <div class="product-details product-details-centered product-details-separator">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="product-title text-center" id="titleProduct">
                                    <%= product.title %>
                                </h1>
                                <!-- End .product-title -->
                                <input type="hidden" id="product__title" value="<%= product.title %>">
                                <input type="hidden" id="product__id" value="<%= product.id %>">
                                <input type="hidden" id="product__title" value="<%= product.title %>">
                                <input type="hidden" id="product__image" value="<%= product.image[0] %>">
                                <input type="hidden" id="attr__color" value="">
                                <div class="ratings-container">
                                    <a class="ratings-text" href="#product-review-link" id="review-link">(
                                        <%=product.view %> بازدید)
                                    </a>
                                </div><!-- End .rating-container -->

                                <div class="product-price text-center" id="priceTag">
                                    <p class="text-danger">لطفا ابتدا رنگ محصول را انتخاب کنید</p>
                                </div><!-- End .product-price -->



                                <div class="details-filter-row details-row-size">
                                    <label>رنگ : </label>

                                    <div class="product-nav product-nav-dots">
                                        <% for (let item of attr) {%>
                                            <input type="hidden" id="product" value="<%= product.id %>">
                                            <a role="button" class="active"
                                                onclick="changeAttr('<%= item.color %>','<%= item.price %>' , '<%= item.title %>' , '<%= item.count %>' , '<%= item.sizes %>' ,'<%= item._id %>' )"
                                                style="background: <%= item.color %>;"><span class="sr-only">نام
                                                    رنگ</span></a>
                                            <%}%>

                                    </div><!-- End .product-nav -->
                                </div><!-- End .details-filter-row -->

                                <div class="details-filter-row details-row-size mb-md-1">
                                    <div class="details-filter-row details-row-size" id="sizesProduct">
                                        <label for="size">سایز : </label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">

                                            </select>
                                        </div><!-- End .select-custom -->
                                    </div><!-- End .details-filter-row -->

                                </div><!-- End .details-filter-row -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details-action">
                                    <div class="details-action-col">
                                        <a href="#" class="btn-product btn-cart" id="addTocart">افزودن به سبد خرید</a>
                                    </div><!-- End .details-action-col -->

                                    <div class="details-action-wrapper mr-0">
                                        <a href="#" class="btn-product btn-wishlist"
                                            title="لیست علاقه مندی"><span>افزودن
                                                به
                                                لیست علاقه مندی</span></a>
                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->
                                <div class="product-content">
                                    <p class="text-center">
                                        <%- truncate(product.desc , 300) %>
                                    </p>
                                </div><!-- End .product-content -->
                                <div class="product-details-footer details-footer-col">
                                    <div class="product-cat text-center">
                                        <span>دسته بندی : </span>
                                        <%= product.categories %>
                                    </div><!-- End .product-cat -->
                                </div><!-- End .product-details-footer -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .product-details -->
            </div>
        </div><!-- End .product-details-top -->

        <div class="container">
            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                            role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-desc-link" data-toggle="tab" href="#product-size-tab" role="tab"
                            aria-controls="product-desc-tab" aria-selected="true">راهنمای سایز</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                        aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <%- product.desc %>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-size-tab" role="tabpanel"
                        aria-labelledby="product-review-link">

                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
        </div><!-- End .container -->
        <%- include("../includes/suggest.ejs") %>
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="/assets/js/jquery.elevateZoom.min.js"></script>
<script>


    // ! get items
    let idProduct = document.getElementById("product__id");
    const sizeProduct = document.getElementById("size");
    const changeAttr = (color, price, title, count, sizes, id) => {
        let str1 = sizes;
        const split_string = str1.split(",");
        document.getElementById("titleProduct").innerText = title;
        document.getElementById("priceTag").innerText = separate(price);
        document.getElementById("attr__color").value = color;
        idProduct.value = randomNumber();
        sizeProduct.innerHTML = "";
        for (let i of split_string) {
            sizeProduct.innerHTML += ` <option value="${i}" id="size__product">سایز :  ${i} </option>`
        }
    }


</script>