<div class="related-posts">
    <h3 class="title">پست های مرتبط</h3><!-- End .title -->

    <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                "nav": false, 
                "dots": true,
                "margin": 20,
                "loop": false,
                "rtl": true, 
    "responsive": {
                    "0": {
                        "items":1
                    },
                    "480": {
                        "items":2
                    },
                    "768": {
                        "items":3
                    }
                }
            }'>
        <% for (let i of suggests) {%>
            <article class="entry entry-grid">
                <figure class="entry-media">
                    <a href="/blog/<%= i.slug %>">
                        <img src="/uploads/images/blogs/<%= i.image %>" alt="<%= i.title %>"
                            style="height: 40rem; object-fit: cover;">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="/blog/<%= i.slug %>">
                    <div class="entry-meta justify-content-start">
                        <a href="/blog/<%= i.slug %>">
                            <%= jalaliMoment(i.createdAt) %>
                        </a>
                    </div><!-- End .entry-meta -->

                    <h2 class="entry-title text-right">
                        <a href="/blog/<%= i.slug %>">
                            <%= i.title %>
                        </a>
                    </h2><!-- End .entry-title -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->
            <%}%>
    </div><!-- End .owl-carousel -->
</div><!-- End .related-posts -->