<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <%- include("../includes/aside.ejs") %>

            <!-- Page Content -->
            <div class="page-content">
                <%- include("../../messages/error.ejs") %>
                    <%- include("../../messages/message.ejs") %>
                        <%- include("../includes/breadCrumb.ejs") %>
                            <!-- Page Body -->
                            <div class="page-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="well invoice-container">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="">
                                                        <i class="fa fa-check"></i>
                                                        <%= user.fullname %>
                                                    </h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h6>
                                                            اطلاعات کاربری
                                                        </h6>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <%= user.mobile %>
                                                            </li>
                                                            <li>
                                                                <%= user.email %>
                                                            </li>
                                                            <li>
                                                                <% if (user.isAdmin==='Admin' ) {%>
                                                                    مدیر
                                                                    <%}else{%>
                                                                        کاربر
                                                                        <%}%>
                                                            </li>
                                                            <li>
                                                                <% if (user.role==='Manager' ) {%>
                                                                    دسترسی به تمام بخش های وب سایت
                                                                    <%} else if (user.role==='Seller' ) {%>
                                                                        دسترسی به بخش های محصولات برندها و دسته بندی
                                                                        ها
                                                                        <%}else if (user.role==='Assistant' ) {%>
                                                                            دسترسی به بخش کاربران
                                                                            <%} else {%>
                                                                                به هیچ بخشی دسترسی ندارد
                                                                                <%}%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h6>
                                                            وضعیت کاربر
                                                        </h6>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <% if (user.isBloocked===true ) {%>
                                                                    فعال
                                                                    <%}else{%>
                                                                        غیر فعال
                                                                        <%}%>
                                                            </li>
                                                            <li>
                                                                <% if (user.isAdmin !=="Admin" ) {%>
                                                                    <a href="/admin/changeAdmin/<%= user._id %>"
                                                                        class="btn btn-success">مدیر شود</a>
                                                                    <%}else {%>
                                                                        <a href="/admin/changeAdmin/<%= user._id %>"
                                                                            class="btn btn-success">کاربر شود</a>
                                                                        <%}%>
                                                            </li>
                                                            <li>
                                                                <form action="/admin/changeRole/<%=user._id %>"
                                                                    method="post">
                                                                    <input type="hidden" name="id" id=""
                                                                        value="<%= user._id %>">
                                                                    <select style="width:100%;"
                                                                        onchange="this.form.submit()" name="role">
                                                                        <option value=""></option>
                                                                        <option value="Manager">
                                                                            مدیر اصلی
                                                                        </option>
                                                                        <option value="Assistant">
                                                                            دستیار
                                                                        </option>
                                                                        <option value="Seller">
                                                                            فروشنده
                                                                        </option>
                                                                        <option value="Client">
                                                                            کاربر ساده
                                                                        </option>
                                                                    </select>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- / end client details section -->
                                    </div>
                                </div>
                            </div>
            </div>
            <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Container -->
<!-- Main Container -->

</div>