<link href="/admin/css/dataTables.bootstrap.css" rel="stylesheet" />
<style>
    .DTTT {
        display: none !important;
    }
</style>

<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <%- include("../includes/aside.ejs") %>

            <!-- Page Content -->
            <div class="page-content">
                <%- include("../../messages/message.ejs") %>
                    <%- include("../../messages/error.ejs") %>
                        <%- include("../includes/breadCrumb.ejs") %>
                            <div class="page-body">
                                <div class="col-xs-12 col-md-12">
                                    <div class="widget">
                                        <div class="widget-header ">
                                            <span class="widget-caption">محصولات</span>
                                            <div class="widget-buttons">
                                                <a href="#" data-toggle="maximize">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <a href="#" data-toggle="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                                <a href="#" data-toggle="dispose">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="table-toolbar">
                                                <a href="/admin/createproduct" class="btn btn-default">
                                                    ساخت محصول جدید
                                                </a>
                                            </div>
                                            <table class="table table-striped table-hover table-bordered"
                                                id="editabledatatable">
                                                <thead>
                                                    <tr role="row">
                                                        <th>
                                                            نام محصول
                                                        </th>
                                                        <th>
                                                            وضعیت
                                                        </th>
                                                        <th>
                                                            تاریخ
                                                        </th>
                                                        <th>
                                                            سازنده
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% for (let item of products) {%>
                                                        <tr>
                                                            <td>
                                                                <%= item.title %>
                                                            </td>
                                                            <td>
                                                                <% if(item.isActive) {%>
                                                                    <span class="badge badge-success">فعال</span>
                                                                    <%}else {%>
                                                                        <span class="badge badge-danger">غیر فعال</span>
                                                                        <%}%>
                                                            </td>
                                                            <td>
                                                                <%= jalaliMoment(item.createdAt) %>
                                                            </td>
                                                            <td class="center ">
                                                                <%= item.user.fullname %>
                                                            </td>
                                                            <td>
                                                                <a href="/admin/editProduct/<%= item._id %>"
                                                                    class="btn btn-info btn-xs"><i
                                                                        class="fa fa-edit"></i>ویرایش</a>
                                                                <% if(item.isActive) {%>
                                                                    <a href="/admin/changeisactive/<%= item._id %>"
                                                                        class="btn btn-danger btn-xs "><i
                                                                            class="fa fa-trash-o"></i>غیر فعال</a>
                                                                    <%}else {%>
                                                                        <a href="/admin/changeisactive/<%= item._id %>"
                                                                            class="btn btn-success btn-xs"><i
                                                                                class="fa fa-trash-o"></i>فعال</a>
                                                                        <%}%>
                                                                            <a href="#"
                                                                                class="btn btn-secondary btn-xs "><i
                                                                                    class="fa fa-eye"></i> مشاهده</a>
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

<script src="/admin/js/datatable/jquery.dataTables.min.js"></script>
<script src="/admin/js/datatable/ZeroClipboard.js"></script>
<script src="/admin/js/datatable/dataTables.tableTools.min.js"></script>
<script src="/admin/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="/admin/js/datatable/datatables-init.js"></script>
<script>
    InitiateSimpleDataTable.init();
    InitiateEditableDataTable.init();
    InitiateExpandableDataTable.init();
    InitiateSearchableDataTable.init();
</script>